header {
    position: absolute;
    z-index: 3000;
}

#mobile-header-upper,.graphic-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}

.mobile-header-lower {
    position: absolute;
    top: 68.5vh;
    left: 0;
    width: 100%;
    z-index: 2000;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-control {
    position: absolute;
    left: 87vw;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: "Fraunces 9pt Soft";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    z-index: 5000;
    position: relative;
    top: 10vh;
    }

    .mobile-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 5vw;
        bottom: 40vh;
        width: 80vw;
        height: 305px;
        display: none;
    }

    header svg {
        display: none;
    }

    .mobile-menu-itm {
        color: #808397;
        font-family: Barlow;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: -0.143px;
        margin-bottom: 1em;
    }

    .contact-btn {
        width: 140px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 28px;
        border: none;
        background: #FBD600;
        color: #24303E;
        font-family: "Fraunces 9pt Soft";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -0.107px;
        text-transform: uppercase;
    }

    .arrow-mobile {
        position: absolute;
        top: 35vh;
        left: 44vw;
        z-index: 9000;
    }

    .middle,.middle-top {
        position: absolute;
        top: 105vh;
        z-index: 5000;
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .middle-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 5000;
        position: relative;
        top: 170vh;
        text-align: center;
    }

    .middle-title,.middle-2-title,.middle-2-btn,.middle-btn {
        color: #24303E;
    }

    .middle-txt, .middle-btn,.middle-2-txt,.middle-2-btn {
        font-size: 18px;
    }

    .middle-title {
        margin-top: 1.75rem;
        margin-bottom: 0;
        width: 55%;
        font-size: 26px;
    }

    .middle-txt {
        color: #808397;  
        width: 75%;
    }

    .middle-btn,.middle-2-btn {
        background: transparent;
        border: none;
        border-bottom: 3px solid #FAD400;
        font-weight: bold;
    }

    .standout {
        position: absolute;
        width: 100.5vw;
        left: -10px;
        top: -85vw;
        z-index: 5000;
    }

    .graphic-design {
        top: 242.3vh;
    }

    @media (min-width: 23rem) {
        .mobile-header-lower {
            top: 33.5rem;
        }

        .middle {
            top: 53rem;
        }

        /* .standout {
            top: -43vw;
        } */

        .middle-2 {
            top: 200vh;
        }
    }